*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: inherit;
}

body {
  background-color: #bfd5ee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

html,
body {
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
}

button {
  cursor: pointer;
  border: 0;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  margin: 32px auto;
}

#main {
  border-radius: 28px;
  width: 100%;
  max-width: 360px;
  background-color: #292929;
  padding: 1rem;
}

.header {
  background-color: #343434;
  padding: 1rem;
  border-radius: 16px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  flex-grow: 1;
  color: #121212;
  font-size: 16px;
  transition: all 0.3s ease-in;
}

.btn:hover {
  transform: translate(-2px, -3px);
}

.btn-times {
  background-color: #4a4a4a;
  color: #a6a6a6;
  border: 1px solid #a6a6a6;
  height: 32px;
}

.btn-times.active {
  background-color: #285b42;
  color: #05be69;
  border-color: #05be69;
}

.btn-controls {
  background-color: #34364b;
  color: #6d7dff;
  border-radius: 12px;
  height: 48px;
  padding: 1rem auto;
}

.btn-controls.active {
  background-color: #6d7dff;
  color: #f2f2f2;
}
